@using Wiseonline.Eisp.Domain
@using Wiseonline.Eisp.Helpers
@using Wiseonline.Eisp.Web.ViewModel.WorkflowForm;
@model PriceAnalysisViewModel
@{
    ViewBag.Title = "比价分析单";
    Layout =null;
    <link href="@Url.Content("~/Content/PrintWorkFlow.css")" rel="stylesheet" type="text/css" />
}
<div class="clear">
</div>
<table align="center" cellspacing="0"  cellpadding="0" >
    <tr>
        <th colspan="4">
            比价分析单
        </th>
    </tr>
    <tr>          
        <td>
            @Html.LabelFor(m => m.SerialNumber)
        </td>
        <td colspan="3">
            @Html.DisplayFor(m => m.SerialNumber)                     
        </td>
        <td>
            @Html.LabelFor(m => m.ApplyTime)
        </td>
        <td colspan="4">
            @Html.Label("ApplyTime", Model.ApplyTime.ToString("yyyy-MM-dd"))
        </td>
    </tr>
    <tr>       
        <td>
            @Html.LabelFor(m => m.DepartmentName)
        </td>
        <td colspan="3">
            @Html.DisplayFor(m => m.DepartmentName)
        </td>       
        <td>
            @Html.LabelFor(m => m.Applicantname)
        </td>
        <td colspan="4">
            @Html.DisplayFor(m => m.ApplicantDisplayName)
        </td>
    </tr>
    <tr>          
        <td>
            @Html.LabelFor(m => m.DutyId)
        </td>
        <td colspan="3">
            @Html.DisplayFor(m => m.DutyName)
        </td>
        <td>
            @Html.LabelFor(m => m.CompanyId)
        </td>
        <td colspan="4">
            @Html.DisplayFor(m => m.CompanyName)
        </td>
    </tr>
    <tr>          
        <td colspan="2">
            @Html.LabelFor(m => m.SelectedSupplier)
        </td>
        <td colspan="3">
            @Html.DisplayFor(m => m.SelectedSupplier)
        </td>
        <td colspan="1">
            @Html.LabelFor(m => m.Amount)
        </td>
        <td colspan="3">
            @Html.DisplayFor(m => m.Amount)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.Reason)
        </td>
        <td colspan="8">
            @Html.DisplayFor(m => m.Reason)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.BiddingMethod)
        </td>
        <td colspan="8">  
            @{
                UrgencyLevels type;
                UrgencyLevels.TryParse(Model.BiddingMethod.ToString(), out type);
                @Html.OutputCustomHtml(type.GetEnumDisplay());
            }
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.Explain)
        </td>
        <td colspan="8">
            @Html.DisplayFor(m => m.Explain)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.Creator)
        </td>
        <td colspan="3">
            @Html.DisplayFor(m => m.StratUserDisplayName)
        </td>
        <td>
            @Html.LabelFor(m => m.CreatedTime)
        </td>
        <td colspan="4">
            @Html.Label("CreatedTime", Model.CreatedTime.ToString("yyyy-MM-dd"))
        </td>
    </tr>
    @if (Model.PriceAnalysisSupplies.Count > 0)
    {
        <tr>
            <td colspan="9" style="font-size: 18px; font-weight: bold; text-align: center; margin-left: 5px">
                比价分析清单
            </td>
        </tr>
        <tr>
            <td>
                序
            </td>
            <td>
                物品名称
            </td>
            <td>
                联系人
            </td>
            <td>
                联系人电话
            </td>
            <td>
                报价品项
            </td>
            <td>
                数量
            </td>
            <td>
                单价
            </td>
            <td>
                总价
            </td>
            <td>
                备注
            </td>
        </tr>
        var priceAnalysisSupplies = Model.PriceAnalysisSupplies.ToList();
        for (int i = 0; i < priceAnalysisSupplies.Count; i++)
        {
            var purchaseItem = priceAnalysisSupplies[i];
            <tr>
                <td>
                    @(i + 1)
                </td>
                <td>
                    @purchaseItem.SupplyName
                </td>
                <td>
                    @purchaseItem.ContractName
                </td>
                <td>
                    @purchaseItem.ContractPhone
                </td>
                <td>
                    @purchaseItem.QuotedPrice
                </td>
                <td>
                    @purchaseItem.Number
                </td>
                <td>
                    @purchaseItem.UnitPrice
                </td>
                <td>
                    @purchaseItem.TotalPrice
                </td>
                <td>
                    @(string.IsNullOrEmpty(purchaseItem.Remarks) ? "无备注" : purchaseItem.Remarks)
                </td>
            </tr>
        }
    }
    @{
        ViewDataDictionary vd = new ViewDataDictionary();
        vd.Add("colspan", 8);
        vd.Add("print", "true");
        @Html.Partial("../OfficeWorkFlow/PrintSuggestion", Model.ConcreteWorkflow.ConcreteWorkflowOperations, vd);
    } 
</table>
